[submodule "third_party/PaSeMiLL"]
	path = third_party/PaSeMiLL
	url = git@github.com:Nekonardo/PaSeMiLL-Ext-YZ.git
[submodule "third_party/sentence-transformers"]
	path = third_party/sentence-transformers
	url = git@github.com:Nekonardo/sentence-transformers.git
[submodule "third_party/Belopsem"]
	path = third_party/Belopsem
	url = git@github.com:shuokabe/Belopsem.git
[submodule "third_party/llms-limited-resources2025"]
	path = third_party/llms-limited-resources2025
	url = git@github.com:TUM-NLP/llms-limited-resources2025.git
