# OS
.DS_Store

# Results and sample data
results/
sampleResults/
sampleData/
temp/
data/
configs/
output/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints

# Environment
.env
.venv
env/
venv/
pasemill/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

*.err
*.out

*.sbatch